.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__mobile {
  --slide-spacing: 2rem;
  --slide-size: 100%;
  --slide-height: 32.875rem;
  padding: 1.2rem;
}

.image_wrapper {
  @apply bg-[url('/assets/img/testimonials/css_sprites.png')];
}

.slide__wrapper_mobile {
  @apply m-0 ml-auto mr-auto;
  @apply bg-white;
  @apply mobile:w-[20rem] mobile:h-[15.4375rem];
}
.slide__wrapper {
  @apply m-0 ml-auto mr-auto;
  @apply desktop:w-[23.75rem] desktop:h-[32.5rem];
  @apply rounded-[0.625rem]  bg-white flex flex-col py-7;
}
/* laptop:w-[18.375rem] laptop:h-[25.4375rem]  */

.img_v {
  /* @apply laptop:w-[55px] laptop:h-[70px] laptop:bg-[left_-20px_top_-378px]; */
  @apply desktop:w-[84px] desktop:h-[120px] desktop:bg-[left_-20px_top_-710px];
  @apply mobile:w-[40px] mobile:h-[45px]  mobile:bg-[left_-20px_top_-20px];
}

.img_glasses {
  @apply desktop:w-[84px] desktop:h-[120px] desktop:bg-[left_-20px_top_-578px];
  /* @apply laptop:w-[56px] laptop:h-[70px] laptop:bg-[left_-20px_top_-278px]; */
  @apply mobile:w-[40px] mobile:h-[45px] mobile:bg-[left_-20px_top_-105px];
}

.img_w {
  @apply desktop:w-[84px] desktop:h-[120px] desktop:bg-[left_-20px_top_-843px];
  /* @apply laptop:w-[50px] laptop:h-[70px] laptop:bg-[left_-20px_top_-478px]; */
  @apply mobile:w-[40px] mobile:h-[48px] mobile:bg-[left_-20px_top_-190px];
}
