/* -------------------------- 말풍선 왼쪽 --------------------------------------------- */
.speech_bubble_wrapper {
  @apply pb-[3.75rem];
}
.speech_bubble__left {
  @apply text-start;
  @apply mobile:col-span-2;
  @apply mobile:p-5;
  @apply mobile:text-sm mobile:leading-none;
  @apply leading-loose;
  @apply relative bg-kc-bg_lightgray border-t-[3px] border-t-kc-red;
  @apply mobile:w-[360px];
}

/* after left = berore left + 2 */
.speech_bubble__left:after {
  @apply content-[''] absolute top-0 left-1/2 w-0 h-0 block;
  @apply z-[1];
  border-width: 0 16px 27px;
  @apply border-kc-bg_lightgray border-b-kc-bg_lightgray border-l-transparent border-r-transparent;
  @apply -top-[25px] left-[80px];
  @apply desktop:-top-[25px] desktop:left-[7.5rem];
}

.speech_bubble__left::before {
  @apply content-[''] absolute block w-0 z-0;
  @apply -top-[29px] left-[78px];
  @apply desktop:-top-[29px] desktop:left-[7.375rem];
  border-width: 0 18px 29px;
  @apply border-t-kc-red border-b-kc-red border-l-transparent border-r-transparent;
}

/* -------------------------- 말풍선 왼쪽 ~ 미들 ------------------------------------- */

.speech_bubble__left__middle {
  @apply text-start;
  @apply w-full mobile:col-span-2;
  @apply mobile:p-5;
  @apply mobile:text-sm mobile:leading-none;
  @apply leading-loose;
  /* @apply desktop:w-[59rem]; */
  @apply relative bg-kc-bg_lightgray border-t-[3px] border-t-kc-red;
}

.speech_bubble__left__middle:after {
  @apply content-[''] absolute top-0 left-1/2 w-0 h-0 block;
  @apply z-[1];
  border-width: 0 16px 27px;
  @apply border-kc-bg_lightgray border-b-kc-bg_lightgray border-l-transparent border-r-transparent;
  @apply desktop:-top-[25px] desktop:left-[22.5rem];
}

.speech_bubble__left__middle::before {
  @apply content-[''] absolute block w-0 z-0;
  @apply desktop:-top-[29px] desktop:left-[22.375rem];
  border-width: 0 18px 29px;
  @apply border-t-kc-red border-b-kc-red border-l-transparent border-r-transparent;
}

/* -------------------------- 말풍선 미들 ~ 오른쪽 ----------------------------------- */

.speech_bubble__right__middle {
  @apply text-start;
  @apply w-full mobile:col-span-2;
  @apply mobile:p-5;
  @apply mobile:text-sm mobile:leading-none;
  @apply leading-loose;
  /* @apply desktop:w-[59rem]; */
  @apply relative bg-kc-bg_lightgray border-t-[3px] border-t-kc-red;
}

.speech_bubble__right__middle:after {
  @apply content-[''] absolute top-0 left-1/2 w-0 h-0 block;
  @apply z-[1];
  border-width: 0 16px 27px;
  @apply border-kc-bg_lightgray border-b-kc-bg_lightgray border-l-transparent border-r-transparent;
  @apply desktop:-top-[25px] desktop:left-[37.5rem];
}

/*  top + 4 left -2 */
.speech_bubble__right__middle::before {
  @apply content-[''] absolute block w-0 z-0;
  @apply desktop:-top-[29px] desktop:left-[37.375rem];
  border-width: 0 18px 29px;
  @apply border-t-kc-red border-b-kc-red border-l-transparent border-r-transparent;
}

/* ---------------------------------- 말풍선 오른쪽 ------------------------------------- */
.speech_bubble__right {
  @apply text-start;
  @apply w-full mobile:col-span-2;
  @apply mobile:p-5;
  @apply mobile:text-sm mobile:leading-none;
  @apply leading-loose;
  /* @apply desktop:w-[59rem]; */
  @apply relative bg-kc-bg_lightgray border-t-[3px] border-t-kc-red;
}

.speech_bubble__right:after {
  @apply content-[''] absolute top-0 left-1/2 w-0 h-0 block;
  @apply z-[1];
  border-width: 0 16px 27px;
  @apply border-kc-bg_lightgray border-b-kc-bg_lightgray border-l-transparent border-r-transparent;
  @apply -top-[25px] left-[250px];
  @apply desktop:-top-[25px] desktop:left-[50rem];
}

.speech_bubble__right::before {
  @apply content-[''] absolute block w-0 z-0;
  @apply -top-[30px] left-[248px];

  @apply desktop:-top-[30px] desktop:left-[49.875rem];
  border-width: 0 18px 29px;
  @apply border-t-kc-red border-b-kc-red border-l-transparent border-r-transparent;
}

/* -------------------------------------------------------------------------- */

.strong {
  @apply block text-kc-red;
  @apply mobile:text-base;
  @apply desktop:text-2xl desktop:font-bold;
  @apply desktop:mb-[1.875rem] desktop:mt-[3.75rem] desktop:ml-[4.3125rem];
}
/* ---------------------- ButtonStyle:mobile -------------------------------------- */

.grid__wrapper {
  @apply inline-grid place-items-center;
  @apply mobile:grid-cols-2 mobile:gap-x-4 mobile:gap-y-10;
  @apply mobile:text-center;
}

.li[id^='grid__']:nth-of-type(2n + 1) {
  @apply cursor-pointer;
  @apply transition delay-150 duration-300 ease-in-out;
  @apply mobile:bg-white;
  @apply text-black;
  @apply border border-kc-outline_gray;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] ml-5;
}
.li[id^='grid__']:nth-of-type(2n + 1):hover {
  @apply cursor-pointer;
  @apply transition delay-150 duration-300 ease-in-out;
  @apply mobile:bg-kc-red;
  @apply text-white;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] ml-5;
}

.li[id^='grid__']:nth-of-type(2n) {
  @apply cursor-pointer;
  @apply transition delay-150 duration-300 ease-in-out;
  @apply mobile:bg-white;
  @apply text-black;
  @apply border border-kc-outline_gray;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] mr-5;
}

.li[id^='grid__']:nth-of-type(2n):hover {
  @apply cursor-pointer;
  @apply transition delay-150 duration-300 ease-in-out;
  @apply mobile:bg-kc-red;
  @apply text-white;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] mr-5;
}

.li__active[id^='grid__']:nth-of-type(2n + 1) {
  @apply cursor-pointer;
  @apply mobile:bg-kc-red;
  @apply text-white;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] ml-5;
}

.li__active[id^='grid__']:nth-of-type(2n) {
  @apply cursor-pointer;
  @apply mobile:bg-kc-red;
  @apply text-white;
  @apply mobile:w-[152px] mobile:h-[152px] mobile:pt-1 rounded-[0.625rem] mr-5;
}

.round {
  @apply mobile:bg-white mobile:w-fit mobile:p-2.5 mobile:rounded-full;
}

.figure_icon {
  @apply flex flex-col gap-2 items-center justify-around;
}

.figure_icon[id='0'] {
  @apply pt-3;
}

.figure_icon[id='1'] > figcaption {
  @apply w-[130px];
}

/* -----------------------------텍스트 스타일--------------------------------------------- */

.p_contents {
  @apply desktop:text-base desktop:font-normal;
  @apply desktop:leading-loose desktop:ml-[4.3125rem];
}
.p_contents:last-of-type {
  @apply desktop:pb-[5.6875rem];
}
.p_contents:not(:last-child):after {
  @apply content-[","];
}

/* -------------------------------image layout------------------------------------------- */
.img__wrapper {
  @apply desktop:pt-[3.75rem];
  @apply mx-10;
}

.img__active {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply object-cover object-center;
  @apply desktop:w-[13.375rem] desktop:h-[20.625rem];
}

.img {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply object-cover object-center;
  @apply desktop:w-[13.375rem] desktop:h-[20.625rem];
  @apply brightness-[30%];
  @apply transition delay-150 duration-300 ease-in-out;
}

.img:hover {
  @apply brightness-100;
  @apply transition delay-150 duration-300 ease-in-out;
}

.img__figure {
  @apply cursor-pointer;
  @apply relative inline-block;
  @apply mr-3;
}

.img__figure:last-of-type {
  @apply mr-0;
}

.img__figure__active {
  @apply cursor-pointer;
  @apply relative inline-block;
  @apply mr-3;
}
.img__figure__active:last-of-type {
  @apply mr-0;
}

/* ---------------------------텍스트 옆 원---------------------------------------------- */
.img__figure:first-of-type::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-kc-red;
  @apply absolute right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}

.img__figure__active:first-of-type::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-white;
  @apply absolute right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}

.img__figure:nth-of-type(2n)::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-kc-red;
  @apply absolute  right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}

.img__figure__active:nth-of-type(2n)::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-white;
  @apply absolute right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}

.img__figure:nth-of-type(3)::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-kc-red;
  @apply absolute right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}
.img__figure__active:nth-of-type(3)::after {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply content-[''] block w-2 h-2 rounded-full bg-white;
  @apply absolute right-3.5 -mr-1;
  @apply desktop:bottom-[23px];
}

.img:hover + figcaption {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply bg-kc-red;
}

/* -------------------------------------------------------------------------- */
.img__figcaption {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply absolute break-words w-full text-end;
  @apply flex items-center justify-end pr-6 text-white;
  @apply bottom-0;
  @apply bg-transparent;
  @apply font-bold;
  @apply desktop:py-5;
}

.img__figcaption[id='figcaption_1'] {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply absolute break-words w-full text-end;
  @apply flex items-center justify-end pr-6 text-white;
  @apply bottom-0;
  @apply bg-transparent;
  @apply font-bold;
  @apply desktop:pb-5 desktop:pt-6;
  @apply w-full;
}

.img__figcaption__active[id='figcaption_1'] {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply absolute break-words w-full text-end;
  @apply flex items-center justify-end pr-6 text-white;
  @apply bottom-0;
  @apply bg-kc-red;
  @apply font-bold;
  @apply desktop:pb-5 desktop:pt-6;
  @apply w-full;
}

.img__figcaption__active:not([id='figcaption_1']) {
  @apply transition delay-150 duration-300 ease-in-out;
  @apply absolute w-full text-end;
  @apply flex items-center justify-end pr-6 text-white;
  @apply bottom-0;
  @apply bg-kc-red;
  @apply font-bold;
  @apply desktop:py-5;
}

.img__figcaption > span {
  @apply desktop:text-base leading-none;
  @apply desktop:leading-tight;
  @apply relative;
  @apply desktop:w-[109px];
}

.img__figcaption__active > span {
  @apply desktop:text-base leading-none;
  @apply desktop:leading-tight;
  @apply relative;
  @apply desktop:w-[109px];
}

.img__figcaption > span[id*='2'] {
  @apply desktop:text-base  leading-none;
  @apply desktop:leading-tight;
  @apply relative;
  @apply desktop:w-[135px];
}
.img__figcaption__active > span[id*='2'] {
  @apply desktop:text-base  leading-none;
  @apply desktop:leading-tight;
  @apply relative;
  @apply desktop:w-[135px];
}

.img__figcaption > span[id*='4'] {
  @apply desktop:text-base  leading-none;
  @apply desktop:leading-tight;
  @apply desktop:w-[138px];
  @apply relative;
}

.img__figcaption__active > span[id*='4'] {
  @apply desktop:text-base leading-none;
  @apply desktop:leading-tight;
  @apply desktop:w-[138px];
  @apply relative;
}
