# Logs
logs
*.log
npm-detlebug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.eslintcache
node_modules
dist
dist-ssr
*.local
server/*

# Editor directories and files
.eslintcache
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.husky


