/* 
x
.bg-desktop_glasses {
    width: 84px; height: 91px;
    background: url('css_sprites.png') -20px -578px;
}

x
.bg-desktop_v {
    width: 84px; height: 94px;
    background: url('css_sprites.png') -20px -709px;
}

x
.bg-desktop_w {
    width: 84px; height: 100px;
    background: url('css_sprites.png') -20px -843px;
}

x
.bg-laptop_glasses {
    width: 56px; height: 60px;
    background: url('css_sprites.png') -20px -278px;
}

x
.bg-mobile_v {
    width: 40px; height: 45px;
    background: url('css_sprites.png') -20px -20px;
}

x
.bg-laptop_v {
    width: 55px; height: 60px;
    background: url('css_sprites.png') -20px -378px;
}

x
.bg-mobile_w {
    width: 40px; height: 48px;
    background: url('css_sprites.png') -20px -190px;
}

x
.bg-laptop_w {
    width: 50px; height: 60px;
    background: url('css_sprites.png') -20px -478px;
}

x
.bg-mobile_glasses {
    width: 40px; height: 45px;
    background: url('css_sprites.png') -20px -105px;
} */
