.carouselWide__card__wrapper {
  @apply laptop:ml-4 desktop:ml-4;
  @apply laptop:w-[30.25rem] laptop:h-[15.0625rem];
  @apply desktop:w-[35.5rem] desktop:h-[13.9375rem];
  @apply mobile:flex mobile:flex-col mobile:justify-center;
  @apply mobile:px-7 mobile:pb-5;
  @apply mobile:rounded-[1.25rem];
  @apply mobile:bg-white;
}

.carouselWide__card__icon {
  @apply flex items-center justify-center bg-kc-red;
  @apply mobile:w-10 mobile:h-10;
  @apply mobile:rounded-[0.25rem];
  @apply laptop:w-20 laptop:h-20;
  @apply laptop:rounded-[0.625rem];
  @apply desktop:w-20 desktop:h-20;
  @apply desktop:flex desktop:items-center desktop:justify-center desktop:rounded-[0.625rem];
}

.carouselWide__card__dt {
  @apply flex laptop:items-center desktop:items-center;
  @apply mobile:gap-[0.625rem] laptop:gap-5 desktop:gap-5;
  @apply mobile:mt-5;
}

.carouselWide__card__figcaption {
  @apply mobile:text-base;
  @apply laptop:text-3xl;
  @apply desktop:text-4xl;
  @apply font-medium;
  @apply self-center;
}

.carouselWide__card__p {
  @apply break-all;
  @apply mt-5;
  @apply desktop:pr-4 laptop:pr-2;
  @apply laptop:w-[30.25rem];
  @apply laptop:h-[8.75rem];
  @apply desktop:w-[35.5rem];
  @apply desktop:h-[7rem];
  @apply mobile:w-[12.75rem] h-[10.125rem];
  @apply mobile:text-xs mobile:mt-7;
  @apply laptop:text-sm;
  @apply desktop:text-sm;
  @apply font-medium;
}

.carouselWide__card__button {
  @apply mobile:hidden;
}

.carouselWide__card__more__button {
  @apply flex items-center;
  @apply desktop:justify-center laptop:justify-center mobile:justify-end mobile:mt-4;
}

.button__outline {
  @apply border-2 border-black self-center;
}

/* ---------------------------- 슬라이드 래퍼 ---------------------------------------------- */
.carouselWide__container {
  @apply laptop:absolute laptop:left-1/2 laptop:top-[55%];
  @apply desktop:absolute desktop:left-1/2 desktop:top-[55%];
  @apply laptop:w-[30.25rem] desktop:w-[35.25rem] mobile:w-full;
  @apply mobile:mt-0 mobile:mr-auto mobile:bg-kc-bg_lightgray rounded-md;
}

/* -------------------------------------------------------------------------- */
.animation_on {
  @apply scale-110 duration-300 ease-in-out;
}

.animation_off {
  @apply scale-110 duration-300 ease-in-out;
}

@media screen and (max-width: 1279px) {
  .embla {
    --slide-spacing: 1rem;
    --slide-size: 80%;
    --slide-height: 32.875rem;
    padding: 1.6rem;
  }
}

@media screen and (min-width: 1280px) {
  .embla {
    --slide-spacing: 4rem;
    --slide-size: 80%;
    --slide-height: 32.875rem;
    padding: 1.6rem;
  }
}
.embla__viewport {
  overflow: hidden;
  /* @apply bg-black; */
}
.embla__container {
  @apply flex h-auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  @apply bg-transparent;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  @apply mobile:w-[275px];
  @apply mobile:h-[183px];
}
